.splide__arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: hsla(0, 0, 0, 0.3);
  border: 0;
  padding: 0;
  transform: translateY(-50%);
  width: 10%;
  z-index: 1;

  &:disabled {
    opacity: 0.3;
  }

  svg {
    opacity: 0;
    fill: #fff;
    height: 1.4em;
    width: 1.4em;
  }

  &--prev {
    left: 0;

    svg {
      transform: scaleX(-1);
    }
  }

  &--next {
    right: 0;
  }
}
