* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.splide__arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  transform: translateY(-50%);
  width: 10%;
  z-index: 1;

  svg {
    opacity: 0;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.carousel-progress {
  position: relative;
  display: flex;
  gap: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #e5e5e5;
}

.splide__progress__bar {
  position: relative;
  z-index: 1;
  height: 6px;
  background: #4287f5;
  border-radius: 999px;
}

.bar-wrapper {
  flex-grow: 1;
}

.bars-wrapper {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
  padding: 0 8px;
  width: 100%;
}

.bar {
  flex-grow: 1;
  height: 6px;
  background-color: #fff;
  border-radius: 999px;
}
