.splide__arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: hsla(0, 0, 0, 0.3);
  border: 0;
  padding: 0;
  transform: translateY(-50%);
  width: 10%;
  z-index: 1;

  &:disabled {
    opacity: 0.3;
  }

  svg {
    opacity: 0;
    fill: #fff;
    height: 1.4em;
    width: 1.4em;
  }

  &--prev {
    left: 0;

    svg {
      transform: scaleX(-1);
    }
  }

  &--next {
    right: 0;
  }
}

.splide__pagination {
  position: absolute;
  padding: 5px 6px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  gap: 6px;
  margin: 0;
  background-color: rgb(209, 209, 209);

  li {
    height: 100%;
    display: block;
    flex-grow: 1;
    line-height: 0;
  }
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__pagination__page {
  position: relative;
  background: #ffffff;
  border: 0;
  border-radius: 9999px;
  display: block;
  height: 100%;
  padding: 0;
  width: 100%;
  position: relative;
  transition: transform 0.2s linear;

  &:hover {
    cursor: pointer;
  }

  &.is-active {
    background-color: rgb(49, 131, 255);
  }
}

.carousel-progress {
  position: relative;
  background: #ffffff;
}

.carousel-progress-bar {
  background: rgb(47, 85, 255);
  height: 14px;
  transition: width 400ms ease;
  width: 0;
}

.splide__progress__bar {
  height: 5px;
  background: #ff1a1a;
}

.progress-bars {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 5px;
}

.bar-wrapper {
  flex-grow: 1;
}

.grower {
  flex-grow: 1;
  background-color: yellow;
}
